#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #473b2d;
  min-height: 100vh;
  min-width: 100%;
}



.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Slackey", sans-serif;
  font-weight: 900;
  font-style: normal

}